# Arquivos de sistema
.DS_Store
*.swp
*.tmp
*.log

# Arquivos de desenvolvimento
.git/
.gitignore
.env
.env*
*.md
/vendor/
/bin/
/tmp/
*.test
*.out

# IDEs e editores
.vscode/
.idea/
*.sublime-*

# Docker
.dockerignore
Dockerfile*
docker-compose*
